body{
    background: url("https://th.bing.com/th/id/OIP.X9QlOFjlKHfD1LR7h--_tgHaEo?w=288&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
}
img {
    height: 200px;
}
.card {
    border: 3px solid green;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}
h3{
    text-align: center;
    color: crimson;
}
p{
    text-align: justify;
    padding: 10px;
}

